@font-face {
    font-family: SciFi-Font;
    src: url(Sakana.ttf);
  }

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: rgba(110, 0, 0, 0.1);
    height: 98vh;
}

div.sidebar{
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("background_space.jpg");
    background-size: cover;
    padding-bottom: 2vh;
    width: 700px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.sidebar .background{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    background-color: rgb(255,255,255,0.5);
    text-align: center;
    font-size: 48px;
    width: 100%;
    padding-top: 15px;
    font-family: SciFi-Font;
    color: rgb(60, 60, 60);
}

img.logo{
    width:150px;
    text-decoration: none;
}

.attribution a{
    color: white;
}

div.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size:28px;
}

.section{
    padding-left: 50px;
}

.first{
    padding-bottom: 50px;
}

.second{
    background-color: #f7f2f2;
    padding-bottom: 30px;
    padding-top: 20px;
    box-shadow: 0px 3px 10px;
}

form{
    display: flex;
}

div.column{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.left.column{
    margin-right: 25px;
}

label{
    font-size: 16px;
    margin-bottom: 5px;
}

input{
    border-color: #E5E7EB;
    width:250px;
    height: 32px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 20px;
}

input[type="password"]:invalid{
    border-color: red;
}

input:focus{
    outline-color: transparent;
    border-color: navy;
    box-shadow: 4px 4px 4px black;
}

.third{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    font-size: 16px;
}

button{
    background-color: rgba(110, 0, 0, 0.6);
    color:aliceblue;
    margin-bottom: 40px;
    border-radius: 10px;
    width: 225px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 1px 5px black;
}

.third a{
    text-decoration: none;
    color: rgba(110, 0, 0, 0.6);
    font-weight: bold;
    margin-bottom: 30px;
}
